@media(max-width: 1800px) {
    .topMenu__submenu__img--famale {
        left: 0;
        transform: translate(-50%, -50%);
    }

    .topMenu__submenu__img--male {
        right: 0;
        transform: translate(30%, -50%);
    }
}

@media(max-width: 1400px) {
    .topMenu__submenu__img {
        display: none;
    }

    .homepage__product {
        width: 24%;
    }

    .homepage__product__imgWrapper {
        width: 100%;
    }

    .homepage__product__price {
        margin: 7px 0;
    }

    .homepage__product__price,
    .homepage__product__title {
        font-size: 17px;
    }

    .homepage__product__subtitle {
        font-size: 14px;
    }

    .homepage__products__main .homepage__product {
        width: 32%;
    }

    .homepage__products__main .homepage__product:last-of-type {
        display: none;
    }

    .homepage__productWrapper {
        width: 48%;
    }

    .shop__main {
        grid-column-gap: 30px;
    }

    .archive .homepage__productWrapper {
        width: 100%;
    }
}

@media(max-width: 1200px) {
    .topMenu__submenu__subcategory__link,
    .topMenu__submenu__category__link,
    .topMenu__list__item__link,
    .topBar__header,
    .homepage__fullWidth__left__text
    {
        font-size: 14px;
    }

    .topMenu__submenu__section__header {
        font-size: 21px;
    }

    .topMenu__list__item__link__icon {
        width: 15px;
    }

    .topBar {
        height: 40px;
    }

    .topNav__logoWrapper {
        width: 150px;
    }

    .homepage__fullWidth__left__header {
        font-size: 21px;
    }

    .footer__col:nth-of-type(3),
    .footer__col:nth-of-type(4) {
        display: none;
    }

    .footer__col {
        width: 20%;
    }
}

@media(max-width: 996px) {
    .topBar__right__btn:first-of-type {
        display: none;
    }

    .homepage__products__main .homepage__product {
        width: 48%;
    }

    .homepage__products__main .homepage__product:nth-of-type(3) {
        display: none;
    }

    .homepage__fullWidth {
        flex-direction: column;
        padding-left: 0;
        height: auto;
    }

    .homepage__fullWidth > * {
        width: 100%;
    }

    .homepage__fullWidth__left {
        padding: 30px 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homepage__fullWidth__left__header {
        text-align: center;
        margin-bottom: 5px;
    }

    .homepage__fullWidth__left__text {
        text-align: center;
    }

    .homepage__fullWidth__right__img {
        width: 100%;
        height: auto;
    }

    .points__header {
        margin-top: 0;
        font-size: 21px;
        text-align: center;
    }

    .points__main {
        flex-direction: column;
    }

    .points__item {
        width: 100%;
        max-width: 400px;
        margin-bottom: 30px;
    }

    .cart-collaterals {
        margin-top: 0;
    }

    .entry-title {
        font-size: 24px;
        text-align: center;
    }

    .cart_item * {
        font-size: 14px !important;
    }

    .coupon button {
        width: 100% !important;
        max-width: 400px;
    }

    .cart_totals h2 {
        text-align: center;
        font-size: 21px;
    }

    .wc-proceed-to-checkout a {
        font-size: 17px !important;
    }

    .product-thumbnail {
        margin-bottom: 10px;
    }

    .woocommerce-checkout h3 {
        font-size: 21px !important;
    }

    .single-product .price * {
        font-size: 24px;
    }

    .shop__main {
        width: 67%;
        grid-template-columns: repeat(2, 1fr);
    }

    .shop__categories {
        width: 30%;
    }

    .topNav__languages span {
        font-size: 12px;
        padding-right: 10px;
    }
}

@media(max-width: 768px) {
    .d-mobile {
        display: block;
    }

    .d-desktop {
        display: none;
    }

    .single-product .price {
        position: relative;
    }

    .video {
        height: auto;
    }

    .homepage__products__main {
        flex-direction: column;
    }

    .homepage__product {
        width: 100% !important;
        display: block !important;
        margin-bottom: 25px;
    }

    .homepage__products {
        margin-bottom: 25px;
    }

    .footer__bottom,
    .footer__main {
        flex-direction: column;
        align-items: center;
    }

    .footer__main > * {
        width: 100%;
        max-width: 350px;
        margin-bottom: 25px;
    }

    .footer__header, .footer__list, .footer__text {
        text-align: center;
    }

    .footer__bottom__header {
        text-align: center !important;
    }

    .footer__bottom__header:last-of-type {
        margin-top: 15px;
    }

    .woocommerce-privacy-policy-text p {
        font-size: 12px;
    }

    .woocommerce-billing-fields__field-wrapper label {
        font-size: 14px;
    }

    .topBar {
        height: 25px;
    }

    .topBar__header {
        font-size: 10px;
    }

    .topMenu--mobile {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        border-top: 1px solid var(--border);
        margin: 20px auto 30px;
        padding-top: 20px;
    }

    .topNav__logoWrapper {
        width: 100%;
        max-width: 300px;
    }

    .topMenu--mobile__item {
        width: 25px;
        background-color: transparent !important;
        outline: none !important;
        padding: 0 !important;
    }

    .topNav {
        margin: 40px 0 90px;
    }

    .menuMobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #2D2D2D !important;
        z-index: 100;
        overflow-y: scroll;
        transform: scaleX(0);
        transform-origin: top left;
        transition: .2s all ease-in-out;
    }

    .menuMobile__inner {
        opacity: 0;
        transition: .2s all ease-in-out;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .menuMobile::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .menuMobile {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .menuMobile__inner {
        padding: 30px 5vw;
    }

    .menuMobile__header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid var(--border);
        margin-bottom: 20px;
    }

    .menuMobile__header__h {
        background-color: var(--green) !important;
        color: #fff;
        font-size: 14px;
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }

    .menuMobile__closeBtn {
        background-color: transparent !important;
        font-size: 12px;
        outline: none !important;
        padding: 0 !important;
        color: #fff !important;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }

    .menuMobile__closeBtn .icon__img {
        margin-right: 12px;
        width: 20px;
        height: auto;
        transform: rotateY(180deg);
        filter: brightness(0) invert(1);
    }

    .menuMobile .topMenu__submenu__section {
        width: 100%;
    }

    .menuMobile .topMenu__submenu__section:first-of-type {
        padding-bottom: 25px;
        border-bottom: 1px solid #fff;
        border-right: none !important;
    }

    .menuMobile .topMenu__submenu__section:last-of-type {
        margin-top: 25px;
        padding-left: 0;
    }

    .site-content {
        padding-top: 30px;
    }

    .home .site-content {
        padding-top: 0;
    }

    .home .homepage__products:first-of-type {
        margin-top: 20px;
    }

    .home .homepage__bottomContent h2 {
        font-size: 24px;
        text-align: center;
    }

    .home .homepage__bottomContent p {
        font-size: 14px;
        text-align: center;
    }

    .woocommerce-info,
    .woocommerce-order-received #content * {
        font-size: 14px !important;
    }

    .woocommerce-order-received #content h1 {
        font-size: 28px !important;
    }

    .woocommerce-order-received #content h2 {
        font-size: 21px !important;
    }

    .woocommerce-order-received address {
        text-align: center;
        margin-top: 20px;
    }

    .single-product .product_title {
        text-align: center !important;
        width: 100% !important;
    }

    .single-product .price {
        text-align: center !important;
        margin-top: -10px !important;
        width: 100% !important;
    }

    .single-product .entry-summary * {
        order: 4;
    }

    .single-product .product_title {
        order: 1;
    }

    .single-product .price {
        order: 3;
    }

    .single-product .woocommerce-product-details__short-description {
        text-align: center;
        border: none;
        order: 2;
    }

    .singleProduct__links {
        font-size: 12px;
    }

    .single-product .price * {
        font-size: 32px !important;
    }

    .singleProduct__description__header {
        margin-bottom: 5px;
    }

    .shop__categories,
    .breadcrumb {
        display: none;
    }

    .homepage__products__header__h {
        width: 100%;
    }

    .shop__main {
        width: 100%;
        grid-template-columns: 1fr;
        margin-top: 50px;
    }

    .widget-area {
        width: 100%;
        left: 0;
    }

    .pagination {
        white-space: nowrap;
        top: -20px;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
    }

    .homepage__products__header__h .icon {
        margin-left: 20px;
        width: 30px;
        filter: brightness(0) invert(1);
    }

    .single-product .woocommerce-product-details__short-description {
        margin-top: 0 !important;
    }

    .single-product .up-sells .products .product {
        width: 100% !important;
        margin-bottom: 30px !important;
    }

    .woocommerce-loop-product__title {
        text-align: center !important;
    }

    .homepage__products__main .homepage__productWrapper {
        width: 100% !important;
    }

    .topNav__languages--mobile {
        width: 30px;
        padding: 0 !important;
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
    }

    .topNav__languages--mobile:first-of-type {
        margin-right: 25px;
    }

    .menuMobile__inner .topNav__languages {
        align-items: center;
    }

    .footer__main {
        padding-bottom: 0;
    }

    .footer__header {
        font-size: 15px;
    }

    .footer__col {
        margin-bottom: 0 !important;
    }

    .footer__list__item__link,
    .footer__text {
        font-size: 12px !important;
    }

    .footer__bottom__header {
        font-size: 10px;
    }

    .page-template-default .entry-header h1 {
        width: 100% !important;
    }

    .page-template-default h2 {
        font-size: 24px !important;
        margin-bottom: 20px !important;
    }

    .contentBolingier {
        max-width: 90vw;
    }

    .slick-slider:last-of-type .slick-track {
        height: 80px !important;
    }

    .singleProduct__description__header {
        margin: 15px auto 8px;
    }

    .variations tbody tr td:first-of-type,
    .singleProduct__links,
    .singleProduct__description__header,
    .singleProduct__description__main {
        text-align: center;
    }

    .variations tbody tr td:first-of-type {
        margin-bottom: 10px !important;
        font-size: 12px !important;
    }

    .woo-variation-swatches .variable-items-wrapper {
        justify-content: center;
    }

    .woo-variation-swatches .variable-items-wrapper > li {
        margin: 0 10px 10px !important;
    }

    .woocommerce-variation-price .woocommerce-Price-amount {
        display: block;
        margin: auto;
    }

    .woocommerce-variation-availability {
        text-align: center;
    }
}

@media(max-width: 576px) {
    .footer__main > * {
        max-width: 250px;
    }

    .footer__list__item__link {
        margin: 6px 0;
    }
}
